@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


body {
  background: url("./assets/919046_OC3WJW0.jpg");
  font-family: 'Roboto', sans-serif;
  margin-top: 8rem;
  padding: 0;
  height: 100%;
}

.contact-button {
  border: 2px solid white;
  color: white;
}

.contact-button:hover {
  border: 2px solid red;
  color: red;
  background-color: #33334d;
}

.About-us {
  border-bottom: 7px solid white;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
  text-transform: uppercase;
}

.about-image {
  border-radius: 5rem;
}

.nav-link.active {
  color: red;
}


a {
  text-decoration: none;
  color: white;
  transition: all 0.2s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: red;
}

.brand-name {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.brand-name:hover {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

.image-container {
  /* background-color: #33334d; */
  width: 100%;
}

.portfolio-section {
  padding: 2rem 0;
}

.section-heading {
  text-align: center;
  margin-bottom: 2rem;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 1rem;
}

.grid-item {
  position: relative;
}

.grid-item:hover img {
  transform: translateY(-8%)
}

.grid-item img {
  width: 100%;
  height: auto;
  transition: all 0.3s ease-in-out;
} */

.filter-buttons {
  margin-bottom: 20px;
}

.filter-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

.filter-button.active {
  background-color: #555;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.grid-item {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.grid-item:hover {
  position: relative;
  overflow: hidden;
  border-radius: 5%;
}

.grid-item img {
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}

.grid-item:hover img {
  transform: scale(1.08);
}

/* Lightbox overlay styles */
.lightbox-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.lightbox-image {
  max-width: 90%;
  max-height: 90%;
}

/* Show lightbox overlay when image is clicked */
.grid-item a:hover .lightbox-overlay {
  opacity: 1;
  pointer-events: auto;
}


.blend-mode-image {
  border-radius: 50rem;
  mix-blend-mode: color-burn;
}

.image-container img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

#typing-text {
  font-family: 'Poppins', sans-serif;
}

.counter-section {
  display: flex;
  justify-content: space-between;
}

.counter-item {
  text-align: center;
}

.counter-item h2 {
  font-size: 3rem;
  margin: 0;
}

.counter-item p {
  margin: 0;
}

.fade-in-element {
  opacity: 0;
  transition: opacity 1s;
}

.fade-in-element.fade-in {
  opacity: 1;
}

.lb-overlay {
  top: 0;
  bottom: 0;
}

.lb-image-container {
  max-height: 90vh;
  max-width: 90vw;
  margin: auto;
}

#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}


.cursor {
  display: inline-block;
  width: 0.1rem;
  height: 1.2rem;
  margin-left: 0.2rem;
  background-color: white;
  animation: blinkCursor 1s infinite;
}

@keyframes blinkCursor {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: 1199.98px) {
  .text-lg-xl {
    font-size: 3rem;
  }

  .text-md-lg {
    font-size: 1.5rem;
  }

  .text-sm-xl {
    font-size: 2rem;
  }

  .text-xl {
    font-size: 1.5rem;
  }

  .text-lg {
    font-size: 1.5rem;
  }

  .text-md {
    font-size: 1.4rem;
  }
}

.mobile-menu {
  display: none;
}

@media (max-width: 992px) {
  .mobile-menu {
    display: block;
    position: fixed;
    top: 0;
    right: 70px;
    z-index: 1;
  }

  .nav-link{
    display: none;
  }

  .contact-button{
    display: none;
  }

  .mobile-menu .toggler {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    cursor: pointer;
    width: 60px;
    height: 60px;
    opacity: 0;
  }

  .mobile-menu .hamburger {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 70px;
    height: 70px;
    padding: 1rem;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu .hamburger > div {
    position: relative;
    flex: none;
    width: 100%;
    height: 2px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }

  .mobile-menu .hamburger > div::before,
  .mobile-menu .hamburger > div::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  .mobile-menu .hamburger > div::after {
    top: 10px;
  }

  .mobile-menu .toggler:checked + .hamburger > div {
    transform: rotate(135deg);
  }

  .mobile-menu .toggler:checked + .hamburger > div:before,
  .mobile-menu .toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
  }

  .mobile-menu .toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
  }

  .mobile-menu .toggler:checked ~ .menu {
    visibility: visible;
  }

  .mobile-menu .toggler:checked ~ .menu > div {
    transform: scale(1);
    transition-duration: 0.75s;
  }

  .mobile-menu .toggler:checked ~ .menu > div > div {
    opacity: 1;
    transition: opacity 0.4s ease 0.4s;
  }

  .mobile-menu .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobile-menu .menu > div {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    border-radius: 50%;
    width: 200vw;
    height: 250vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }

  .mobile-menu .menu > div > div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
  }

  .mobile-menu .menu > div > div > ul {
    flex-direction: column;
    margin-right: 2.5rem;
    margin-bottom: 7rem;
  }

  .mobile-menu .menu > div > div > ul > li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
  }

  .mobile-menu .menu > div > div > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
    margin-left: 0;
  }

  .logo-image{
    display: flex;
    align-items: center;
    height: 20rem;
  }
}




.grid-item.logos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item.overlays img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-item.emotes img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.web-logo{
  width: 100px;
  height: 50px;
  object-fit: cover;
}

.brand-name{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.brand-name:hover{
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.filter-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.filter-button:first-child {
  margin-left: 0;
}

@media (max-width: 768px) {
  .filter-buttons {
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .filter-button:first-child {
    margin-left: 7px;
  }

  .filter-button {
    flex-basis: 48%;
    margin-bottom: 0.5rem;
  }
}


/* making footer stick to bottom using calc */

footer {
  position: relative;
  margin-top: calc(100% - 7rem);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  padding: 2rem 0;
  color: white;
}

@import './bootstrap.min.css';

